In [2]:
import numpy as np
import pandas as pd

# Idioms

## 满足某个条件下进行赋值

In [34]:
df = pd.DataFrame(
    {"AAA": [4,5,6,7], "BBB": [10,20,30,40], "CCC": [100,200,300,400], "DDD": [1,2,3,4]}
)
df

   AAA  BBB  CCC  DDD
0    4   10  100    1
1    5   20  200    2
2    6   30  300    3
3    7   40  400    4

首先需要明确df.loc的参数, 可以对多列进行条件判断, 或者赋值.

In [35]:
df.loc[(df.AAA >= 5) & (df.BBB <= 30), ["CCC", "DDD"]] = -1
df

   AAA  BBB  CCC  DDD
0    4   10  100    1
1    5   20   -1   -1
2    6   30   -1   -1
3    7   40  400    4

新建一列并根据条件赋值, 可以用np.where函数.

In [20]:
df["logic"] = np.where(df.AAA > 5, "high", "low")
df

   AAA  BBB  CCC logic
0    4   10  100   low
1    5   20  200   low
2    6   -1   -1  high
3    7   -1   -1  high

在R语言里，满足某个条件进行赋值采用
`df %>% filter(AAA > 5) %>% mutate(logic = "high")`
或者运用ifelse函数
`df %>% mutate()`

## 拆分split
为R语言的filter, 利用多个条件进行筛选, 具体见上节. 此处展示不同案例.

按照与某一数值的距离进行排序, 使用`argsort()`, 该函数将元素从小到大排列, 提取其对应的index, 并返回一个Series. 

注意Series是没有sort属性的. np.sort()返回值一个的列表.  

`df.loc[[0, 1, 2, 3]]`返回index按照列表顺序选择的subset. 同样的, 逗号之后是columns按照列表顺序选择的subset, 比如`df.iloc[:, [0, 3, 3, 2]]`.

In [22]:
df = pd.DataFrame(
    {"AAA": [4,5,6,7], "BBB": [10,20,30,40], "CCC": [100,20,30,-40], "DDD": [1,2,3,4]}
)
df
aValue = 43
df.loc[(df.CCC - aValue).abs().argsort()]

   AAA  BBB  CCC  DDD
2    6   30   30    3
1    5   20   20    2
0    4   10  100    1
3    7   40  -40    4

用二元操作符`&, |`或者`functools.reduce()`来构建复合的拆分条件.

In [25]:
df = pd.DataFrame(
    {"AAA": [4, 5, 6, 7], "BBB": [10, 20, 30, 40], "CCC": [100, 50, -30, -50]}
)

Crit1 = df.AAA <= 5.5
Crit2 = df.BBB == 10.0
Crit3 = df.CCC > -40.0

AllCrit = Crit1 & Crit2 & Crit3

df[AllCrit]

   AAA  BBB  CCC
0    4   10  100

`functools.reduce()` 其作用是对参数序列中元素进行累积，返回值是一个数值. 它的第一个参数接收且只接收带两个参数的函数, 第二个参数是一个列表, 功能是将列表中前两个元素传入第一个参数中, 函数返回的值再和第三个元素传入第一个参数中, 最后得到一个结果. 
比如 `reduce(lambda x, y: x+y, [1, 2, 3, 4, 5])` 计算 `((((1+2)+3)+4)+5)`.

In [26]:
import functools

Crit_list = [Crit1, Crit2, Crit3]
AllCrit = functools.reduce(lambda x, y: x & y, Crit_list)
df[AllCrit]

   AAA  BBB  CCC
0    4   10  100

## 选择Selection
为R语言的filter. 可以用数值判断`> < =`, 行\列的位置`iloc[]`或者标签`loc[]`进行筛选, 同时支持切片`loc["foo":"bar"]`. 
此处展示其他功能案例. 反向选择`~`

In [31]:
df = pd.DataFrame(
    {"AAA": [4, 5, 6, 7], "BBB": [10, 20, 30, 40], "CCC": [100, 50, -30, -50]}
)
df
#df[(df.AAA <= 6) & (df.index.isin([0,2,4]))]
df[~((df.AAA <= 6) & (df.index.isin([0,2,4])))]

   AAA  BBB  CCC
1    5   20   50
3    7   40  -50

## 新建一列
关键函数解析. `df.columns` 返回数据框的列标签, 类似的`df.index`返回数据框的行标签. `[str(x) + "_cat" for x in source_cols]` 是一个列表推导式. `categories.get`字典的`.get()`方法按照key返回value. 

`df.applymap()`函数用于对数据框中的每一个元素执行相同的函数操作. 类似的`df.apply()`函数用于对数据框中的一列或者一行进行操作.

In [51]:
df = pd.DataFrame({"AAA": [1, 2, 1, 3], "BBB": [1, 1, 2, 2], "CCC": [2, 1, 3, 1]})
df
source_cols = df.columns
new_cols = [str(x) + "_cat" for x in source_cols]
categories = {1: "Alpha", 2: "Beta", 3: "Charlie"}
df[new_cols] = df[source_cols].applymap(categories.get)
df

   AAA  BBB  CCC  AAA_cat BBB_cat  CCC_cat
0    1    1    2    Alpha   Alpha     Beta
1    2    1    1     Beta   Alpha    Alpha
2    1    2    3    Alpha    Beta  Charlie
3    3    2    1  Charlie    Beta    Alpha

对一列进行分组, 另一列保留最小值. 两种实现方法. 
方法一, `df.idxmin()`返回行或者列上最小值第一次出现的索引值. `.loc[]`根据索引值筛选.

In [63]:
df = pd.DataFrame(
    {"AAA": [1, 1, 1, 2, 2, 2, 3, 3], "BBB": [2, 1, 3, 4, 5, 1, 2, 3]}
)
df
df.loc[df.groupby("AAA")["BBB"].idxmin()]

   AAA  BBB
1    1    1
5    2    1
6    3    2

方法二, 用sort, 比较难懂.

In [73]:
df.sort_values(by="BBB").groupby("AAA", as_index=False).first()

   AAA  BBB
0    1    1
1    2    1
2    3    2

# 分层索引

创建Series或者（Dataframe）的时候，以列表的列表作为索引。同样的，在columns上也可以拥有分层索引。

In [14]:
data = pd.Series(np.random.randn(9),
index=[["a","a","a","b","b","c","c","d","d"],[1,2,3,1,2,1,2,1,2]])
data["a"]

1   -0.126914
2    0.654348
3   -0.888861
dtype: float64

可以通过`stack`和`unstack`进行重新排列。

In [15]:
data.unstack()

          1         2         3
a -0.126914  0.654348 -0.888861
b -1.731974  1.459254       NaN
c -0.847014  0.379097       NaN
d  0.078359 -0.055599       NaN

也可以通过`pd.MultiIndex.from_tuples()`来创建分层索引。

In [47]:
df = pd.DataFrame(
    {
        "row": [0, 1, 2],
        "One_X": [1.1, 1.1, 1.1],
        "One_Y": [1.2, 1.2, 1.2],
        "Two_X": [1.11, 1.11, 1.11],
        "Two_Y": [1.22, 1.22, 1.22],
    }
)
df = df.set_index("row")
df.columns = pd.MultiIndex.from_tuples([tuple(c.split("_")) for c in df.columns])
df

     One        Two
       X    Y     X     Y
row
0    1.1  1.2  1.11  1.22
1    1.1  1.2  1.11  1.22
2    1.1  1.2  1.11  1.22

用`stack`进行转换。

In [48]:
df = df.stack(0).reset_index(1)
df

    level_1     X     Y
row
0       One  1.10  1.20
0       Two  1.11  1.22
1       One  1.10  1.20
1       Two  1.11  1.22
2       One  1.10  1.20
2       Two  1.11  1.22

Pandas dataframe.div()用于查找数据帧和其他元素的浮点数划分。该函数类似于datafram/other，但提供了额外的支持来处理输入数据之一中的缺失值。level:在一个级别上广播，在传递的MultiIndex级别上匹配索引值

In [53]:
cols = pd.MultiIndex.from_tuples(
    [(x, y) for x in ["A", "B", "C"] for y in ["O", "I"]]
)


df = pd.DataFrame(np.random.randn(2, 6), index=["n", "m"], columns=cols)

df = df.div(df["C"], level=1)

df

          A                   B              C
          O         I         O         I    O    I
n -3.482804 -1.510907  2.128478  7.371409  1.0  1.0
m -1.319521  1.647903 -1.020804  0.307136  1.0  1.0

## 切片slice
用`xs`切片。

In [62]:
coords = [("AA", "one"), ("AA", "six"), ("BB", "one"), ("BB", "two"), ("BB", "six")]

index = pd.MultiIndex.from_tuples(coords)

df = pd.DataFrame([11, 22, 33, 44, 55], index, ["MyData"])

df.xs("BB", level=0, axis=0)
df.xs('six', level=1, axis=0)

    MyData
AA      22
BB      55

用`slice()`切片。
`itertools.product`可以构建两两相乘，类似与R语言的grid。

In [64]:
import itertools

index = list(itertools.product(["Ada", "Quinn", "Violet"], ["Comp", "Math", "Sci"]))

headr = list(itertools.product(["Exams", "Labs"], ["I", "II"]))

indx = pd.MultiIndex.from_tuples(index, names=["Student", "Course"])

cols = pd.MultiIndex.from_tuples(headr)  # Notice these are un-named

data = [[70 + x + y + (x * y) % 3 for x in range(4)] for y in range(9)]

df = pd.DataFrame(data, indx, cols)

df

               Exams     Labs
                   I  II    I  II
Student Course
Ada     Comp      70  71   72  73
        Math      71  73   75  74
        Sci       72  75   75  75
Quinn   Comp      73  74   75  76
        Math      74  76   78  77
        Sci       75  78   78  78
Violet  Comp      76  77   78  79
        Math      77  79   81  80
        Sci       78  81   81  81

In [65]:
All = slice(None)
df.loc[(All, "Math"), All]

               Exams     Labs
                   I  II    I  II
Student Course
Ada     Math      71  73   75  74
Quinn   Math      74  76   78  77
Violet  Math      77  79   81  80

In [66]:
df.loc[(slice("Ada", "Quinn"), "Math"), All]

               Exams     Labs
                   I  II    I  II
Student Course
Ada     Math      71  73   75  74
Quinn   Math      74  76   78  77

In [67]:
df.loc[(All, "Math"), ("Exams")]

                 I  II
Student Course
Ada     Math    71  73
Quinn   Math    74  76
Violet  Math    77  79